<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %> - Trombone Simulator</title>
	<script type="text/javascript" src="js/paper-full.js"></script>
	<script type="text/javascript" src="js/howler.js"></script>
	<script type="text/paperscript" src="js/custom-paper.js" canvas="myCanvas"></script>
	<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="/css/styles.css" />
</head>
	<body>
		<%- include ('../nav.html') %>