<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %> - Trombone Simulator</title>
	<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="/css/styles.css" />
</head>
	<body>
		<%- include ('./nav.html') %>
<div class="wrap">
    <div class="container about">
        <h1>About Project - Tromby</h1>

        <div class="q-group">
            <h4>What is this website?</h4>
            <h5>This site hosts a live-example of software development project related to Mary Kelly's portfolio.</h5>
        </div>

        <div class="q-group">
            <h4>What does it do? *</h4>
            <h5>It is a trombone Simulator where users can "play" the trombone through different controls. Users can utilize their mouse or A-J keys on the English keyboard. Click the directions button on the project page for more.</h5>
            </ul>
            <h5 class="asterick">* A detailed writeup of the project background and implementation can be 
                <a href="https://marykelly.tech/projects/tromby">found on my portfolio site.</a></h5>
        </div>

        <div class="q-group">
            <h4>Have questions, comments, or suggestions?</h4>
            <h5>I can be emailed at: <a href="mailto:mary@marykelly.tech">mary@marykelly.tech</a>. Or reached using a <a href="https://marykelly.tech/contact">form on my Contact Page.</a></h5>
        </div>

    </div>
</div>

    <%- include ('partials/footer.html') %>