<div class="bar">
    <div class="barflex">
            <div id="logo" class="tab logo">
                <!-- <a href="https://marykelly.tech" target="_blank"><img src="images/brand/mk-logo-crop.svg" /></a> -->
                <a href="https://marykelly.tech" target="_blank"><div class="masked"></div></a>
                <div id="namelogo" class="tab logoplate"></div>
            </div>
        <div class="tabgroup">
            <a id="navIndexLink" href="/">
                <div class="tab link">
                    <p>Project</p>
                </div>
            </a>
            <a id="navAboutLink" href="/about">
                <div class="tab link">
                    <p>About</p>
                </div>
            </a>
            <a href="https://github.com/marymkelly/tromby" target="_blank">
                <div class="tab link">
                    <p>Github</p>
                </div>
            </a>
        </div>
    </div>
</div>