html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
	font-family: 'Architects Daughter', cursive;
    color: white;
    overflow: hidden;
    background: #000428;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100vw;
    height: 100vh;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

#bg{
	clip-path: polygon(15% 88%, 86% 87%, 100% 100%, 0% 100%);
	height: 100vh;
	width: 100vw;
	background-color: navy;
	/*background-color: #111;*/
	position: absolute;
}

#placeholder {
	left: 50px;
	position: absolute;
}
.row{
    height: 100%;
    width: 100%; 
}

#control-title {
    text-align: center;
    margin-top: 15%;
}

.control-menu {
    position: absolute;
    z-index: 2;
    width: 35vw; 
    height: 75vh;
    background-color: #222222;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-content: start;
    align-self: center;
    right: 32%;
}

.control-menu ul {
    list-style-type: none;
}

.control-menu ul li {
    list-style-type: none;
}

.disappear {
    display: none;
}

.hide{
    visibility: hidden;
}

#info{
    border-radius: 50%;
    background-color: lightskyblue;
    height: 50px;
    width: 50px;
    text-align: center;
    text-justify: center;
    font-size: 2.5em;
    right: 15%;
    top: 20%;
    position: fixed;
    z-index: 3;
}

#info:hover{
    background-color:steelblue;
    color:black;
}

.container {
    position: relative;
}

.container canvas, .row {
    position: absolute;
}