.footer-container {
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin-top: 2rem;
    color: darkgrey;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: .8rem;

    a {
        color: $gold;
        text-decoration: none;
    }
}